files:
   "/etc/nginx/conf.d/01_syncserver.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      # 10/7/17; See https://github.com/crspybits/SyncServerII/issues/35
      client_max_body_size 100M;
      # SyncServer uses some http request headers with underscores
      underscores_in_headers on;
      
container_commands:
  01_reload_nginx:
    command: pgrep nginx && service nginx reload || true