files:
  "/etc/awslogs/config/01_syncserver_logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [/home/ec2-user/output.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "home/ec2-user/output.log"]]}`
      log_stream_name = `{"Fn::Join":["--", [{ "Ref":"AWSEBEnvironmentName" }, "{instance_id}"]]}`
      file = /home/ec2-user/output.log
      
commands:
  "00_restart_awslogs":
    command: service awslogs restart